.wrap{
	text-align: center;
	margin: 0 auto;
}

.start-btn, .reset-btn{
	text-align: center;
	width: 150px;
	padding: 15px 0;
	cursor: pointer;
	display: inline-block;
	border: 1px solid green;
	background-color: green;
	color: white;
}