.wrap {
	text-align: center;
	margin: 0 auto;
	width: 400px;
}

#score-field {
	height: 20px;
	text-align: center;
}

.barrier-unit {
	background-color: blue;
}

#start-btn, #reset-btn {
	text-align: center;
	width: 150px;
	padding: 15px 0;
	cursor: pointer;
	display: inline-block;
	border: 1px solid green;
	background-color: green;
	color: white;
}

.game-table-cell {
	border: 1px solid black;
	width: 15px;
	height: 15px;
}

.game-table {
	border-collapse: collapse;
}

#game-field {
	display: inline-block;
}

.snake-unit {
	background-color: darkgrey;
}

.food-unit{
	background-color: red;
}